@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #61999c;
  /*#2e353d, 47777a*/
  /*background: linear-gradient(to bottom, #61999c, #88adb3, #d1e4e8);*/
  /* Ensure the gradient is on top of the solid color */
  background-blend-mode: overlay;
}

html,
body,
#root {
  height: 100%;
}

/* :: 23.0 Contact Area CSS */
.map-area {
  position: relative;
  z-index: 2;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}
.map-area iframe {
  width: 100%;
  height: 400px;
  border: none;
  margin-bottom: 0;
  border-radius: 5px;
}
@media only screen and (max-width: 767px) {
  .map-area iframe {
    height: 320px;
  }
}

.contact-form-area .form-control {
  position: relative;
  z-index: 2;
  height: 45px;
  width: 100%;
  background-color: #ffffff;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  padding: 15px 20px;
  /* font-weight: 400; */
  color: #b7b7b7;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
.contact-form-area .form-control:focus {
  box-shadow: none;
  border-color: #deaf84;
}
.contact-form-area textarea.form-control {
  height: 80px;
}

.contact-information p {
  line-height: 1.3;
  color: #707070;
  margin-bottom: 13px;
}
.contact-information p span {
  color: #303030;
}
.contact-information p:last-child {
  margin-bottom: 0;
}

.contact--thumbnail {
  position: relative;
  z-index: 1;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 767px) {
  .contact--thumbnail {
    margin-bottom: 100px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-100% / 8 * 4)
    ); /* Adjust according to the number of images */
  }
}
